# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.json
*.db

# Logs
*.log

# Streamlit
*.streamlit/
*.config.toml
